#contact {
  background-color: $grey;
  padding: 100px 0;
  color: $lgrey;
}

form {
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: $lgrey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $lgrey;  
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $lgrey;  
}
:-ms-input-placeholder {  
  color: $lgrey;  
}

input, textarea {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 12px;
  border: none;
  background-color: $formgrey;
  color: $lgrey;
  padding: 10px;
}

input[type=submit] {
  background-color: transparent;
  border: 1px solid $lgrey;
  width: 30%;
  padding: 15px;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: $formgrey;
  color: white;
}

@media (min-width: 768px) {
  form {
    text-align: left;
  }
}