#footer {
  background-color: $dgrey;
  color: $lgrey;
  padding-top: 50px;
  font-family: $font2;
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
  }
}

#copyright {
  font-size: 1em;
  margin-top: 10px;
}