#header {
  padding: 0 0 160px 0;
  background: 
    linear-gradient(
      $purpleoverlay, 
      $purpleoverlay
    ),
    url(../assets/office.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-position:center center;
  
  color: white;
  text-align: center;
}

#header button {
  border: none;
  background-color: $purple;
  padding: 15px;
  width: 30%;
  border-radius: 6px;
  -moz-box-shadow: 0px 3px #5D00A8;
  -webkit-box-shadow: 0px 3px #5D00A8;
  box-shadow: 0px 3px #5D00A8;
  letter-spacing: 0;
}
#header button:hover {
  background-color: white;
  color: $purple;
  box-shadow: none;
  letter-spacing: 2px;

}