#services {
  background-color: $grey;
  color: $lgrey;
  text-align: center;
  padding: 100px 0;
  h2 {
    color: white;
  }
  img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #services img {
    width: 64px;
    height: 64px;
  }
}