#team {
  text-align: center;
}

.img-circle {
  width: 30%;
}

.member {
  color: $purple;
  font-size: 2em;
}

.role {
  color: $pink;
  text-transform: uppercase;
  font-size: 1.1em;
}

.social a {
  margin-right: 10px;
}

.social a:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  #team {
    padding: 100px 0;
  }
  .img-circle {
    width: 80%;
  }
}