#header {
  padding: 0 0 160px 0;
  background: linear-gradient(rgba(106, 0, 190, 0.6), rgba(106, 0, 190, 0.6)), url(../assets/office.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  color: white;
  text-align: center; }

#header button {
  border: none;
  background-color: #6A00BE;
  padding: 15px;
  width: 30%;
  border-radius: 6px;
  -moz-box-shadow: 0px 3px #5D00A8;
  -webkit-box-shadow: 0px 3px #5D00A8;
  box-shadow: 0px 3px #5D00A8;
  letter-spacing: 0; }

#header button:hover {
  background-color: white;
  color: #6A00BE;
  box-shadow: none;
  letter-spacing: 2px; }

#pricing {
  background-color: #6A00BE;
  color: white;
  padding: 50px 0 80px 0;
  text-align: center; }

#pricing img {
  width: 50%;
  align: top; }

#pricing button {
  border: 1px solid white;
  background-color: transparent;
  padding: 15px;
  width: 20%;
  border-radius: 6px; }

#pricing button:hover {
  background-color: white;
  color: #6A00BE; }

@media (min-width: 768px) {
  #pricing {
    text-align: left; }

  #pricing img {
    width: 90%;
    float: right;
    margin-top: -50px; } }
#services {
  background-color: #222222;
  color: #7B7B7B;
  text-align: center;
  padding: 100px 0; }

#services h2 {
  color: white; }

#team {
  text-align: center; }

.img-circle {
  width: 30%; }

.member {
  color: #6A00BE;
  font-size: 2em; }

.role {
  color: #99008D;
  text-transform: uppercase;
  font-size: 1.1em; }

@media (min-width: 768px) {
  #team {
    padding: 100px 0; }

  .img-circle {
    width: 80%; } }
#logos {
  background-color: #6A00BE;
  text-align: center;
  padding: 20px 0; }

#logos img {
  height: 24px; }

#contact {
  background-color: #222222;
  padding: 100px 0;
  color: #7B7B7B; }

form {
  text-align: center; }

input {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 12px;
  border: none;
  background-color: #333333;
  color: #7B7B7B;
  padding: 10px; }

input[type=submit] {
  background-color: transparent;
  border: 1px solid #7B7B7B;
  width: 30%;
  padding: 15px;
  margin: 0 auto; }

input[type=submit]:hover {
  background-color: #333333;
  color: white; }

@media (min-width: 768px) {
  form {
    text-align: left; } }
#footer {
  background-color: #1F1F1F;
  color: #7B7B7B;
  padding-top: 50px; }

#footer ul {
  list-style: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.2em; }

#copyright {
  font-size: 1em; }

h1 {
  font-size: 5em;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px; }

h2 {
  font-size: 3em;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 20px; }

h3 {
  font-size: 2em;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px; }

p {
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif; }

.contrastp {
  color: white; }

a {
  color: #7B7B7B; }

a:hover {
  color: white; }

.center {
  text-align: center; }

.font2 {
  font-size: 1.2em;
  font-family: "Lato", sans-serif; }

.line {
  border-top: 1px solid #7B7B7B; }

@media (min-width: 768px) {
  .padbottomhalf {
    padding-bottom: 50px; }

  .padbottomfull {
    padding-bottom: 100px; } }

/*# sourceMappingURL=main.css.map */
