$purpleoverlay: rgba(106, 0, 190, 0.6);
$purple: #6A00BE;
$pink: #99008D;
$lgrey: #7B7B7B;
$grey: #222222;
$dgrey: #1F1F1F;

$font: 'Source Sans Pro', sans-serif;
$font2: 'Lato', sans-serif;

@import 'header';
@import 'pricing';
@import 'services';
@import 'team';
@import 'logos';
@import 'contact';
@import 'footer';

h1 {
  font-size: 5em;
  font-family: $font;
  margin-bottom: 0px;
}
h2 {
  font-size: 3em;
  font-family: $font;
  margin-bottom: 0px;
}
h3 {
  font-size: 2em;
  font-family: $font;
  margin-bottom: 0px;
}
p {
  font-size: 1.3em;
  font-family: $font;
}
.contrastp {
  color: white;
}